/*
--------------------------------------------
General Class
--------------------------------------------
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    line-height: 47px;
    text-align: center;
}
a{
    text-decoration: none;
}
body{
    font-family: lato,sans-serif;
/*    min-height: 2000px;*/
}

/*
--------------------------------------------
Utility Class
--------------------------------------------
*/
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-top-70{
    margin-top: 70px;
}
.margin-top-90{
    margin-top: 90px;
}
.margin-bottom-25{
    margin-top: 25px;
}
.margin-bottom-90{
    margin-bottom: 90px;
}
.margin-side-290{
    margin-left: 290px;
    margin-right: 290px;
}
.padding-10{
    padding: 10px;
}
.padding-15{
    padding: 15px;
}
.padding-top-90{
    padding-top: 90px;
}
.padding-top-30{
    padding-top: 30px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-side-15{
    padding-left:15px;
    padding-right: 15px;
}
.padding-side-20{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-side-25{
    padding-left: 25px;
    padding-right: 25px;
}
.section-title{
    font-family: segoe UI,sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 30px;
}
.section-lead{
    font-family: lato,sans-serif;
    font-size: 15px;
    color: #aaa;
}
.bg-dark{
    background: #000;
    color: #fff;
}
.gray-border{
    border-bottom: solid 1px #CCC;
}
.tag{
    background: red;
    color: #FFF;
    border-radius: 3px;
    padding: 5px;
    cursor: default;
}
.badge{
    background: #000 !important;
    opacity: 1 !important;
    color: white;
    border-radius: 100%;
    padding: 5px 8px;
    margin: 5px 5px;
    line-height: 25px;
}
.btn{
    border: none;
    background: black;
    color: white;
    text-transform: capitalize;
}
/*
--------------------------------------------
Navbar Class
--------------------------------------------
*/
.navbar{
    background: #000;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar p{
    color: #fff;
    line-height: 47px;
}
.flexing{
    display: flex;
    justify-content: space-between;
}
.navbar a{
    color: white;
    font-size: 15px;
}
.navbar a:hover{
    background: #CCC;
    color: #000;
}
.navbar p a:hover{
    background: Red;
    color: #fff;
}
/*
--------------------------------------------
ShowCase Class
--------------------------------------------
*/
.showcase-details{
    position: absolute;
    top: 485px;
    left: 500px;
    text-align: center;
    color: #FFF;
    line-height: 30px;
}
/*
--------------------------------------------
The Band Section
--------------------------------------------
*/
.band-header{
    text-align: center;
}
.container{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
}
.cards{
/*    border: solid 1px red;*/
}
.member-card{
/*    border: solid 1px red;*/
    width: 200px;
    height: 220px;
    text-align: center;
}
.card img{
    border-radius: 10px;
}
/*
--------------------------------------------
The Tour Dates Section
--------------------------------------------
*/
.tour-header{
    text-align: center;    
}
.tour-dates{
    height: 850px;
    width: 1349px;
}
.tour-dates li{
    text-align: left;
    height: 45px;
    color: #000;
    opacity: 0.7;
}
.dates{
    color: #000;
    background: #FFF;
    font-size: 14px;
}
.location-card{
    width: 245px;
    height: 400px;
/*    border: solid 1px red;*/
    background: #FFF;
}
.location-details{
    color: #000;
}
.loc-name{
    font-weight: bold;
    font-size: 18px;
}
.location-details date{
    opacity: 0.6;
}
.cards p.btn{
    width: 50%;
    padding: 10px;
}
.cards p.btn:hover{
    background: #CCC;
    color: #000;
    cursor: default;
}
.portfolio{
    position: relative;
    width: 100%;
    height: 185px;
}

.portfolio:hover h2{
    display: block;
}

.portfolio h2{
    width: 100%;
    height: 185px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: none;
}



/*
--------------------------------------------
CONTACT Section
--------------------------------------------
*/
.contact{
    height: 455px;
    width: 100%;
}
.contact-header{
    text-align: center;
}
.address{
    width: 40%;
    height: 455px;
    padding: 20px;
}
.contact-info{
    width: 50%;
    height: 455px;
    padding: 20px;
}
.small-input{
    width: 160px;
    padding: 7px;
}
.big-input{
    width: 345px;
    padding: 7px;
    margin-top: 10px;
}
.contact .address{
    font-size: 18px;
    font-weight: 100;
}
.contact .btn{
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 80%;
}
.contact .btn:hover{
    background: #CCC;
    color: #000;
}
.contact .flexing{
    display: flex;
    justify-content: center;
}
/*
--------------------------------------------
FOOTER Section
--------------------------------------------
*/
footer p{
    text-align: center;
}
footer p span i:hover{
    color: #CCC; 
} 
